* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-collapse: collapse;
}

    *::after, *::before {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        border-collapse: collapse;
    }



.report {
    height: max-content !important;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

@media print {
    .report {
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}

.report .bounds {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.2em;
    border: 1px solid rgba(0, 0, 0, 0.6392156863);
    border-radius: 5px;
}

@media print {
    .report .bounds {
        width: 100%;
        padding: 0.5em;
        margin: 0.6em;
        box-sizing: border-box;
        border: none;
    }
}

img[src=""] {
    display: none;
}

.result, .ranges {
    width: 100%;
    border: 2px solid #000;
}

    .result thead th, .ranges thead th {
        padding: 0.3em;
        text-transform: uppercase;
    }

    .result tr, .ranges tr {
        border: 2px solid #000;
    }

        .result tr td, .ranges tr td {
            padding: 0.3em;
        }

@media print {
    .result tr td, .ranges tr td {
        padding: 0.6em;
    }
}

.result tr td, .result tr th, .ranges tr td, .ranges tr th {
    border-left: 2px solid #000;
}

.ranges {
    width: 100%;
    border: 2px solid #000;
}

    .ranges tr {
        border: 2px solid #000;
    }

        .ranges tr td {
            padding: 0.3em;
            text-align: center;
        }

.headers {
    width: 100%;
    display: flex;
    -moz-column-gap: 0.5em;
    column-gap: 0.5em;
    border-bottom: 1px solid gray;
    padding-bottom: 0.5em;
}

    .headers > div {
        flex: 1 1 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0.4em;
    }

    .headers .badge {
        border: 2px solid rgba(128, 128, 128, 0.214);
        overflow: hidden;
    }

        .headers .badge img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
            -o-object-position: center;
            object-position: center;
        }

    .headers .student {
        border: 2px solid rgba(128, 128, 128, 0.214);
        overflow: hidden;
    }

        .headers .student img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
            -o-object-position: center;
            object-position: center;
        }

    .headers .moto {
        flex-basis: 60%;
        letter-spacing: 0.1em;
    }

        .headers .moto > * {
            word-spacing: 3.5px;
            font-size: 1.1em;
            line-height: 1.2em;
        }

@media print {
    .headers .moto > * {
        font-size: 0.99em;
    }
}

.mainHead {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.99em;
    line-height: 1.2em;
    padding-block-end: 0.6em;
}



@media print {
    .mainHead {
        font-size: 0.89em;
        padding-block-end: 0.5em;
    }
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
}

    .footer .information {
        max-width: 40ch;
    }

        .footer .information p {
            line-height: 1em;
            margin-block: 0.3em;
            font-size: 1.2rem;
        }

@media print {
    .footer .information p {
        font-size: 0.89em;
    }
}

.studentIfo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    row-gap: 0.6em;
    padding-block: 0.5em;
}

    .studentIfo > * {
        text-align: left;
        flex: 1 1 30%;
        word-spacing: 5px;
        text-transform: uppercase;
        font-size: 0.89em;
    }

@media print {
    .studentIfo > * {
        font-size: 0.8em;
        letter-spacing: 1.2px;
    }
}

.disclaimer {
    text-align: center;
    margin-top: 10% !important;
}

@media print {
    .disclaimer {
        position: absolute;
        bottom: 0;
        /* margin-bottom: -3em; */
    }
}

.payslipMainFrame {
    display: flex !important;
    flex-direction: row !important;
}
/*# sourceMappingURL=main.css.map */
